In [1]:
import pandas as pd

In [10]:
comments = pd.read_csv('cms_scrapte.csv')

In [11]:
comments

,name,location,rating,date,headline,summary
0,\n Marisa Houshour\n,US,1 star: Bad,2021-04-07T01:20:21+00:00,\n They didn’t give us ...,\n They didn’t give us our sand...
1,\n Nancy Snyder\n,US,1 star: Bad,2021-04-06T00:00:58+00:00,\n The cashier was rude...,\n The cashier was very rude an...
2,\n Jill Riding\n,GB,1 star: Bad,2021-04-05T19:45:14+00:00,\n KFC Hayward's Heath\...,\n KFC Hayward's Heath. Tastele...
3,\n Ian Griffin\n,GB,1 star: Bad,2021-04-04T18:15:13+00:00,"\n KFC, never again!\n ...","\n KFC, Ore Village, Hastings. ..."
4,\n nathan falk\n,US,1 star: Bad,2021-04-02T21:02:51+00:00,\n Employees Dont liste...,\n We ordered food. They didn't...
...,...,...,...,...,...,...
838,\n Marius Thurnhausen\n,NaN,4 stars: Great,2014-08-27T09:12:15Z,\n Great crispy chicken...,\n Only negative point: could h...
839,\n andrew wheats\n,NaN,5 stars: Excellent,2014-01-23T13:41:11Z,\n Best chicken around\...,\n Good chicken\n
840,\n Giles Starz\n,NaN,2 stars: Poor,2012-04-16T15:52:04Z,\n taste ok but so bad ...,\n so much trans fats.. isit re...
841,\n Bjarne Heggdal\n,NaN,4 stars: Great,2012-04-04T08:31:01Z,\n Kanon service\n ...,\n Lækkert mad.\n
842,\n STEVE YOUNGS\n,GB,1 star: Bad,2011-09-27T09:07:36Z,\n Staff need customer ...,"\n Orded meal at drive through,..."